@font-face {
	font-family: 'IRYekan';
	font-weight: 400;
	font-style: normal;
	src: local('IRYekan'), url('/Assets/Fonts/IRYekan.woff') format('woff');
}

.fontsforweb_fontid_49094 {
	font-family: 'IRYekan' !important;
}



body,button{
	font-family: "IRYekan";
}
